<!DOCTYPE html>
<html lang="en">

<%- include('./Components/Head', { title: 'Home' }) %>
    <%- include('./Components/Navbar') %>

        <body>


    <!--

        Todo List:
        Cover
        Features
        Outages
        Pages
        FAQ
        Redis - ShortTerm Data
        Mongo - Long Term Data
        Frontend - Charts

    -->
            <div role="main" class="container text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
                <div class="jumbotron" style="background-color: inherit">
                    <div class="container">
                        <h1 class="display-3">DogeTracker</h1>
                        <br>
                        <p>View, manage and explore statistics and historical data from <a target="_blank"href="dogehouse.tv">dogehouse.tv</a><br>Made possible by <a href="https://github.com/dogegarden/dogehouse-js">dogehouse-js</a> & <a href="https://github.com/dogegarden/dogehouse-api">dogehouse-api</a></p>
                    </div>
                </div>

                <div class="container">
                    <!-- <div class="alert alert-danger alert-dismissible fade show fade-in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="alert-heading"><i class="fas fa-bullhorn"></i> Important Notice!</h4>
                        <p>The room counters are currently displaying misleading information. This issue has been rasied
                            with DogeHouse.</p>
                        <p class="mb-0">You can read more about this at <a
                                href="https://github.com/benawad/dogehouse/issues/1135">this GitHub issue</a>
                        </p>
                    </div> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card test">
                                <div class="card-body fixed-height remove-bg moving-bg zoom-in ex-c border-p" style="padding-top: 30px">
                                    <div class="col-md-4">
                                        <i class="fas fa-house-user fa-3x icon pr-1"></i> <strong
                                            id="roomCount" class="card-stat-count"><i
                                                class="fas fa-spinner fa-w-16 fa-spin"></i></strong>
                                        <p class="pt-1 p-text"> public room<span id="roomFix">s</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-users fa-3x icon pr-1"></i> <strong
                                            id="userCount" class="card-stat-count"><i
                                                class="fas fa-spinner fa-w-16 fa-spin"></i></strong>
                                        <p class="pr-1 p-text"> online across site</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-clock fa-3x icon pr-1"></i> <strong
                                            id="scheduledCount" class="card-stat-count"><i
                                                class="fas fa-spinner fa-w-16 fa-spin"></i></strong>
                                        <p class="pt-1 p-text"> scheduled room<span id="scheduledFix">s</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card test">
                                <div class="card-body fixed-height remove-bg moving-bg zoom-in ex-c border-p">
                                    <div class="col-md-12">
                                        <div style="display: flex; align-items: center; place-content: center">
                                        <i class="fas fa-fire fa-3x icon pr-2"></i><strong class="card-stat-count"> Trending</strong></div><br>
                                        <p>
                                        <strong id="topRoomName">
                                        <a id="topRoomLink" target="_blank" href="dogehouse.tv/rooms/idgoeshere"></a>
                                        <i class="fas fa-spinner fa-w-16 fa-spin"></i></a>
                                        </strong> 
                                        containing
                                        <strong id="topUserCount"><i class="fas fa-spinner fa-w-16 fa-spin"></i></strong> user<span id="topUserFix">s</span>. <br><span id="timeOnline">Gathering Time...</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">User Activity                                
                                    <div class="btn-group pl-2" role="group" aria-label="Button group with nested dropdown">
                                     <div class="btn-group" role="group">
                                      <button id="userActivityChartTimeframe" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        24h
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="userActivityChartTimeframe">
                                        <hr>
                                        <a class="dropdown-item"><strong>Coming Soon</strong></a>
                                        <hr>
                                        <a class="dropdown-item" onclick="dropdownUpdate('24h', this);">24h</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('week', this);">Week</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('month', this);">Month</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('alltime', this);">All Time</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="statsChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">Room Activity
                                <div class="btn-group pl-2" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                     <button id="roomActivityChartTimeframe" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       24h
                                     </button>
                                     <div class="dropdown-menu" aria-labelledby="roomActivityChartTimeframe">
                                         <hr>
                                        <a class="dropdown-item"><strong>Coming Soon</strong></a>
                                        <hr>
                                        <a class="dropdown-item" onclick="dropdownUpdate('24h', this);">24h</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('week', this);">Week</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('month', this);">Month</a>
                                        <a class="dropdown-item" onclick="dropdownUpdate('alltime', this);">All Time</a>
                                     </div>
                                   </div>
                                 </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="roomsChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 mb-3">
                            <div class="card test">
                                <div class="card-body fixed-height remove-bg moving-bg border-p ex-pink">
                                    <div class="col-md-12" style="text-align: left;">
                                        <a><button style="float: right; vertical-align: middle;" class="btn extra-btn-width btn-outline-light mt-3">Bot Statistics <i class="far fa-arrow-alt-circle-right"></i></button></a>
                                        <a href="https://github.com/dogegarden/dogehouse-js"><button style="float: right; vertical-align: middle;" class="btn extra-btn-width btn-outline-light mr-2 mt-3">Create a Bot <i class="fas fa-plus"></i></button></a>

                                        <i class="fas fa-robot fa-4x icon pr-1"></i> <strong
                                            id="botsOnline" class="card-stat-count"><i
                                                class="fas fa-spinner fa-w-16 fa-spin"></i></strong>
                                        <p class="pt-1">Provided by <a href="https://github.com/dogegarden/dogehouse.js">dogehouse.js</a> & <a href="https://github.com/dogegarden/dogehouse-api">dogehouse-api</a>.</p>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card test">
                            <div class="card-body fixed-height remove-bg moving-bg stats-hover zoom-in ex-blue border-b">
                                <div class="col-md-12">
                                    <div style="display: flex; align-items: center; place-content: center">
                                    <i class="fas fa-plus-circle fa-3x icon pr-2"></i><strong class="card-stat-count"> Newest Room</strong></div><br>
                                    <p>
                                    <strong id="newestRoom">
                                    <a id="newestRoomLink" target="_blank" href="dogehouse.tv/rooms/idgoeshere"></a>
                                    <i class="fas fa-spinner fa-w-16 fa-spin"></i></a>
                                    </strong> 
                                    containing
                                    <strong id="newestUserCount"><i class="fas fa-spinner fa-w-16 fa-spin"></i></strong> user<span id="newestUserFix">s</span>. <br><span id="newestTimeOnline">Gathering Time...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card test">
                            <div class="card-body fixed-height remove-bg moving-bg stats-hover zoom-in ex-orange border-o">
                                <div class="col-md-12">
                                    <div style="display: flex; align-items: center; place-content: center">
                                    <i class="fas fa-history fa-3x icon pr-2"></i><strong class="card-stat-count"> Longest Active Room</strong></div><br>
                                    <p>
                                    <strong id="longestRoom">
                                    <a id="longestRoomLink" target="_blank" href="dogehouse.tv/rooms/idgoeshere"></a>
                                    <i class="fas fa-spinner fa-w-16 fa-spin"></i></a>
                                    </strong> 
                                    containing
                                    <strong id="longestUserCount"><i class="fas fa-spinner fa-w-16 fa-spin"></i></strong> user<span id="longestUserFix">s</span>. <br><span id="longestTimeOnline">Gathering Time...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 mb-3 m-3">
                        <div class="card test">
                            <div class="card-body border-p ex-c">
                                <div class="col-md-12" id="testBots style="text-align: left;">
                                    <div style="display: flex; align-items: center; place-content: center">
                                        <i class="fas fa-robot fa-3x icon pr-2"></i><strong class="card-stat-count"> Online Bot List</strong></div>
                                    <p id="botsProvidingTelem" class="pt-1"><i class="fas fa-spinner fa-w-16 fa-spin"></i></p>
                                        <div id="testBots"></div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <%- include('./Components/Footer') %>


                <script src="../public/js/home.js"></script>
                <script src="../public/js/statistics.js"></script>
                <script src="../public/js/utils.js"></script>
        </body>