<link rel="stylesheet" href="/public/css/fontawesome-min.css" />

<script src="https://kit.fontawesome.com/4c42749b38.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-dark">
    <div class="container">
        <a class="col navbar-brand mr-0 p-0 logo-text" href="/">
            DogeTracker
        </a>
        <div id="nav_links" class="col-7 d-none d-block" style="text-align: right;">
                <a href="https://discord.gg/FKzV27CNPJ"><button style="margin-top: 10px; margin-bottom: 10px;"class="btn">Discord</button></a>
                <a href="https://github.com/dogegarden"><button style="margin-top: 10px; margin-bottom: 10px;"class="btn">GitHub</button></a>
        </div>
    </div>
</nav>

<style>
    .disc-btn {
        background: #7289da !important;
        font-size: 15px !important;
        font-weight: 400;
        padding: 6px 15px !important;
    }
</style>