<noscript>
  <div
    style="
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 30000000;
      height: 100%;
      width: 100%;
      background-color: #33404d;
      text-align: center;
    "
  >
    <%- include('./Navbar') %>

    <div class="jumbotron" style="background-color: inherit">
      <div class="container">
        <h1 class="display-3">DogeTracker</h1>
        <br />
        <p>
          View, manage and explore statistics and historical data from
          <a target="_blank" href="https://dogehouse.tv">dogehouse.tv</a
          ><br />Made possible by
          <a href="https://github.com/dogegarden/dogehouse-js">dogehouse-js</a>
          &amp;
          <a href="https://github.com/dogegarden/dogehouse-api"
            >dogehouse-api</a
          >
        </p>
        <p style="color: deepskyblue">
          You need to enable Javascript to view content on this site.
          <br />
          <a href="https://www.enable-javascript.com/" target="_blank"
            >Click here to find out how to enable javascript.</a
          >
        </p>
      </div>
    </div>
  </div>
</noscript>
